@import url('//fonts.googleapis.com/css?family=Lusitana:300,400,700');
h1, h2, h3, h4 {
    font-family: 'Lusitana', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Lusitana', sans-serif;
}

html {
    background-color: #474747;
}
.top {
    background-color: #474747;
}

.top .container {
    padding: 0;
}
.banner {
    background-color: #373737;
}
.banner .container {
    background-color: #009b9b;
    min-height: 200px;
    padding: 80px 30px 50px 40px;
}
.banner .container p {
    font-size: 22px;
    padding-left: 5px;
    font-weight: 300;
}
.middle {
    background-color: #CCC;
}
.middle .container {
    background-color: #FFF;
    min-height: 160px;
}
.bottom {
    background-color: #474747;
}
.bottom .container {
    background-color: #373737;
    min-height: 150px;
}
.bottom .container h3 {
    color: #999;
}
.bottom .container p {
    color: #777;
}
.content p {
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}
.btn-self {
    background-color: #474747;
    background-image: -moz-linear-gradient(#474747, #262626);
    background-image: linear-gradient(#474747, #262626);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.btn-self:hover {
    background-color: #373737;
    background-image: -moz-linear-gradient(#373737, #262626);
    background-image: linear-gradient(#474747, #262626);
    color: #FFF;
}
.btn-self:active {
    color: #CCC;
}
.btn-self:focus {
    color: #CCC;
}
.btn-self:disabled {
    background-color: #777777;
    background-image: -moz-linear-gradient(#777777, #666666);
    background-image: linear-gradient(#474747, #262626);
}
